* {
    box-sizing: border-box;
}


.grid {
    border: 2px solid black;
    flex: 1;
    aspect-ratio: 1/1;
}

#container {
    display: flex;
    border: 2px solid blue;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}